<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- AppSettings basis for proxy -->
		<!-- CONFIGS -->
		<!-- DebugMode	true ChromeWebDriverDirectory -> Environment.CurrentDirectory
						false ChromeWebDriverDirectory -> App.config -->
		<add key="DebugMode" value="true"/>
		<add key="ChromeWebDriverDirectory" value="caminhoparaodiretoriododriver" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>